<!DOCTYPE html>
<html>
<head>
    <title>{{ subject.name }} Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h3 class="mt-4">{{ subject.name }}</h3>
        <p>Target Attendance: {{ subject.target_attendance }}%</p>
        <p>Actual Attendance: {{ subject.attendance_percentage }}%</p>
        <p>{{ message }}</p>

        <h4>Attendance Records</h4>
        <ul class="list-group">
            {% for record in attendance_records %}
                <li class="list-group-item">
                    {{ record.date }} - {{ record.status }} - {{ record.time }}
                    <a class="btn btn-secondary btn-sm ml-3" href="{% url 'attendance:edit_attendance_record' record.id %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
